@font-face
{
    font-family: 'SiteFont';
    src: url('font.eot');
    src: local('SiteFont'), url('bin/font.TTF') format('truetype');
}
*
{
    font-family: SiteFont, 'SiteFont' , 'VT323' , Courier, Courier New, Verdana, Arial !important;
    margin: 0;
    padding: 0;
}
body
{
    background-color: #a2bd96;
    overflow: hidden;
}
img
{
    border: 0;
}
#background_orange, #background_teal
{
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
}
#background_teal
{
    z-index: -2;
}
#receipt_container
{
    background-color: Blue;
    position: absolute;
    right: 0;
    z-index: 2;
}
#receipt_container_text
{
    background-color: Red;
    text-align: center;
    overflow: hidden;
}
#receipt_containerimg 
{
    position: absolute;
    z-index: 1;
}
#main, #questions
{
   /* position: absolute;
    top: 0;
    left: 0;
    z-index: 0;*/
}
.op
{
    filter: alpha(opacity=75);
    -khtml-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75;
}
#rec_tab
{
    margin: 0 auto;
}
.col1
{
    text-align: left;
    width: 65%;
}
.col2, .col3
{
    text-align: right;
    width: 33%;
}
.col2
{
    width: 2%;
}
#corner
{
    height: 99px;
    position: absolute;
    right: 0;
    top: 0;
    width: 99px;
}
.l_main
{
    color: #63715e;
    position: absolute;
    top: 0;
    left: 3%;
    width: 49%;
    z-index: 2;
}
.l_main, .l_main *
{
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #FFF;
}
.l_main .edit
{
    color: #652d9c;
    cursor: pointer;
}
.l_main_dupe, l_main_dupe *, .l_main_dupe .edit
{
    color: Transparent !important;
    text-shadow: 1px 1px 1px #FFF;
    filter: alpha(opacity=90) !important;
    -khtml-opacity: 0.90 !important;
    -moz-opacity: 0.90 !important;
    opacity: 0.90 !important;
    z-index: 1;
}
