input {
  width:none;
}
p {
  line-height:30px;
}
p, p span, p input, p select {
  font-family:arial;
  font-size:14px;
}
input[type='text'] {
  line-height:20px;
  border: 1px solid #999
  border-collapse: collapse;
  border-spacing: 0;
}
input[type='text']:hover {
  background-color:#FFF5D3;
}

#questions {
  background: url('../img/bg_teal_long.jpg') repeat-x left top;
  width:45%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}
#receipt_container {
  right:0;
  top:0;
  float:right;
  width:55%;
}
#receipt {
  font-family: SiteFont,'SiteFont','VT323',Courier,Courier New,Verdana,Arial;
  z-index:5;
  border: solid 1px #000;
  background-color:#fff;
  width:400px;
  margin: 20px auto;
  padding:5px;
}
#bg {top:0; right:0; position:fixed; z-index:-1;}
.bgwidth {width:100%;}
.bgheight {height:100%;}
.field {
  margin: 8px 0;
}
.hover_span {
  white-space: nowrap;
}

#income {
  width: 55px;
}
#questions p span, #questions p input, #questions p select {
  font-style:italic;
  font-weight:bold;
}
