*
{
    margin: 0;
    padding: 0;
}
body 
{
    background-color: #a2bd96;
    overflow: hidden;
}
input
{
    width: none;
}
.clear 
{
    clear: both;
}
#brands 
{
    margin: 0 5%;
    padding-top: 5px;
}
.brand 
{  
    background-repeat: no-repeat;
    cursor: pointer;
    float: left; 
    height:58px; 
    margin: 5px 5px 0 0;
    width: 113px;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
}
#brand1 
{  
    background-image: url(../img/1_00.png);
}
#brand1 
{  
    background-image: url../img/2_00.png);
}
#content
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: auto;
}
p
{
    line-height: auto;
}
p, p span, p input, p select
{
    font-family: SiteFont, 'SiteFont' , 'VT323' ,Courier,Courier New,Verdana,Arial;
    font-size: 14px;
}
p
{
    padding: 5%;
}
#background_orange
{
    background-color: #c96f00;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}
.col1
{
    text-align: left;
    width: 65%;
}
.col2, .col3
{
    text-align: right;
    width: 33%;
}
.col2
{
    width: 2%;
}
.col4
{
    width: 35;
}
#corner
{
    height: 99px;
    position: fixed;
    right: 0;
    top: 0;
    width: 99px;
    z-index: 3;
}

#corner, #corner *
{
    cursor: pointer;
}
input[type='text']
{
    line-height: 20px;
    border: 1px solid #999 border-collapse: collapse;
    border-spacing: 0;
}
input[type='text']:hover
{
    background-color: #FFF5D3;
}
.l_main, .l_main *
{
    color: #63715e;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #FFF;
}
.l_main .edit
{
    color: #652d9c;
    cursor: pointer;
}
#questions
{
    width: 55%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#receipt_container
{
    right: 0;
    top: 0;
    float: right;
    overflow: hidden;
    width: 45%;
}
#receipt
{
    -moz-box-shadow: 0 0 1px 1px #FFF;
    -webkit-box-shadow: 0 0 1px 1px #FFF;
    box-shadow: 0 0 1px 1px #FFF;
    /* background-color: #FFF; */
    background: url('../img/paper.jpg');
    font-family: SiteFont, 'SiteFont' , 'VT323' ,Courier,Courier New,Verdana,Arial;
    z-index: 5;
    margin: 10% auto;
    width: 400px;
    text-align: center;
    z-index: 0;
}
#receipt_inner
{
    width: 410px;
    padding: 5% 0;
    padding-bottom: 10%;
    margin: 0 auto;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.70;
    -moz-opacity: 0.70;
    opacity: 0.70;
}
#bg
{
    top: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
.bgwidth
{
    width: 100%;
}
.bgheight
{
    height: 100%;
}
.field
{
    /*margin: 8px 0;*/
}
.hover_span
{
    white-space: nowrap;
}

#income
{
    width: 55px;
}
#questions p input, #questions p select
{
    color: #652d9c;
    font-style: italic;
    font-weight: bold;
}
#taxes_paid
{
    color: #555;
    font-weight: bold !important;
}
#glow_bg
{
    background-color: Red;
    position: absolute;
    z-index: 1;
}
#glow_bg img
{
    height: 100% !important;
    width: 100% !important;
}
#glow 
{
    background: url(../img/receipt_glow.png) no-repeat 0 0;
    background-size: 100%;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0; 
    z-index: 10000;
}
#datasource 
{
    background-color: #420083;
    color: #FFF;
    font-size: 8px;
    font-family: Verdana;
    line-height: 15px;
    filter: alpha(opacity=98);
    -khtml-opacity: 0.98;
    -moz-opacity: 0.98;
    opacity: 0.98;
    padding: 0 10px;
    position: absolute;
    left: 0;
    bottom: 2px;
}

p 
{
    overflow: hidden;
}
