@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: normal;
  src: local('VT323'), url('../fonts/VT323.woff') format('woff');
}

  
*
{
    margin: 0;
    padding: 0;
}
body 
{
}

input
{
    width: none;
}
.clear 
{
    clear: both;
}
#questions_inner
{
    padding: 5%;
}

input[type='text']
{
    border: 1px solid #999 border-collapse: collapse;
    border-spacing: 0;
}
input[type='text']:hover
{
    background-color: #FFF5D3;
}
.l_main, .l_main *
{
}
.l_main .edit
{
    color: #652d9c;
    cursor: pointer;
}
#questions
{
    font-size: 26px;
    background: url('../img/bg_teal_long.jpg');
    width: 55%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#sentence {
    font-family: 'VT323' ,Courier,Courier New,Verdana,Arial;
    color: #63715e;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #FFF;
    font-size: 200%;
    /* line-height:100%; */
    margin-bottom:30px;
}
#year {
  width:90px;
}
#income
{
  width:150px;
}
#filed_as {
  width: 240px;
}
#sentence .input_span {
  color: #652d9c;
  font-weight:bold;
  font-size:110%;
}
#perspective {
  /* width:55%; */
  /* height:270px; */
  /* position:fixed; */
  /* bottom:0; */
  /* left:0; */
  /* padding:10px; */
}
#perspective_intro {
    font-family: 'VT323' ,Courier,Courier New,Verdana,Arial;
    color: #63715E;
    font-size:125%;
}
#brands 
{
    padding-top: 5px;
}
.brand 
{  
    background-repeat: no-repeat;
    cursor: pointer;
    float: left; 
    height:58px; 
    margin: 5px 5px 0 0;
    width: 113px;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
}
#brand_radios {
  display:none;
}

#receipt_container
{
    right: 0;
    top: 0;
    float: right;
    width: 45%;
    font-size: 26px;
}
#receipt
{
    -moz-box-shadow: 0 0 1px 1px #FFF;
    -webkit-box-shadow: 0 0 1px 1px #FFF;
    box-shadow: 0 0 1px 1px #FFF;
    /* background-color: #FFF; */
    background: url('../img/paper.jpg');
    font-family: 'VT323' ,Courier,Courier New,Verdana,Arial;
    z-index: 5;
    margin: 10% auto;
    width: 70%;
    text-align: center;
    z-index: 0;
}
#barcode {
  width:50%;
  margin:30px 0 10px;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.70;
  -moz-opacity: 0.70;
  -webkit-opacity: 0.70;
  opacity: 0.70;
}
#receipt_inner
{
    width: 90%;
    padding: 0 0 5% 0;
    padding-bottom: 10%;
    margin: 0 auto;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.70;
    -moz-opacity: 0.70;
    -webkit-opacity: 0.70;
    opacity: 0.70;
}
#ajax_loader {
  margin: 35px 0;
}

#receipt hr {
  margin:8px 0;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.70;
  -moz-opacity: 0.70;
  -webkit-opacity: 0.70;
  opacity: 0.70;
}
#receipt tr.total {
  font-weight:bold;
}
#receipt tr.total td {
  padding-top:10px;
}
/* Receipt Table Columns */
#receipt td.left
{
    text-align: left;
    width: 62%;
}
#receipt td.right
{
    text-align: right;
    width: 38%;
}
#receipt .big {
  font-size:115%;
}
#receipt .med {
  font-size:100%;
}
#receipt .small {
  font-size:75%;
}
#corner
{
    height: 99px;
    position: fixed;
    right: 0;
    top: 0;
    width: 99px;
    z-index: 3;
}

#corner, #corner *
{
    cursor: pointer;
}

#bg
{
    top: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
.bgwidth
{
    width: 100%;
}
.bgheight
{
    height: 100%;
}
.field
{
    /*margin: 8px 0;*/
}



#glow_bg
{
    background-color: Red;
    position: absolute;
    z-index: 1;
}
#glow_bg img
{
    height: 100% !important;
    width: 100% !important;
}
#glow 
{
    background: url(../img/receipt_glow.png) no-repeat 0 0;
    background-size: 100%;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0; 
    z-index: 10000;
}
#datasource 
{
    background-color: #420083;
    color: #FFF;
    font-size: 8px;
    font-family: Verdana;
    line-height: 15px;
    filter: alpha(opacity=98);
    -khtml-opacity: 0.98;
    -moz-opacity: 0.98;
    opacity: 0.98;
    padding: 0 10px;
    position: fixed;
    left: 0;
    bottom: 2px;
}

#datasource a, #datasource a:visited, #datasource a:hover {
  color:#fff;
}

p 
{
    overflow: hidden;
}



/* QTIP TOOLTIP OVERRIDES */
.ui-tooltip-content {
  padding:10px;
}
.ui-tooltip label {
  font-size: 180%;
  font-weight:bold;
  font-family: Verdana, Arial;
  padding: 5px;
}
.ui-tooltip input, .ui-tooltip select {
  font-size: 140%;
  padding:5px;
  font-family: Verdana;
  color: #7323c6
}
